body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

body.light-mode {
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

@media (prefers-color-scheme: light) {
  h1 {
    color: black;
  }
}


@media (prefers-color-scheme: dark) {
  h1 {
    color: #f0f0f0;
  }
}

.image-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  justify-items: center;
  margin: 20px 0;
}

.image-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.image-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.image-item:hover .image {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: black;
}

@media (max-width: 768px) {
  .image-list {
    grid-template-columns: 1fr;
  }
}
